$main-font: "Montserrat", "Arial", sans-serif;

$accent: #00a9df;
$dark: #212427;
$gray: #4d5052;
$orange: #ff8300;
$gray-bg: #eeeeee;

$text-color: #212427;
$input: #d8f2fa;

$mobile-title-font: 24px;
$mobile-title-lineheight: 30px;

$desktop-title-font: 40px;
$desktop-title-lineheight: 44px;

$mobile-padding: 30px;
$tablet-padding: 50px;
$desktop-padding: 100px;
$xl-padding: 200px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$xl-width: 1400px;

$transition: 0.5s ease;